<div class="end-content">
  <div class="header">
    <div class="icons">
      <div class="order-discussion">
        <img
          src="../../assets/Order Discussion-dark.png"
          alt=""
          srcset=""
          class="img-fluid"
        />
      </div>
      <div class="notifications">
        <img
          src="../../assets/notification.png"
          alt=""
          srcset=""
          class="img-fluid"
        />
      </div>
      <div class="settings">
        <img
          src="../../assets/Setting-dark.png"
          alt=""
          srcset=""
          class="img-fluid"
        />
      </div>
    </div>
    <div class="profile">
      <img
        src="../../assets/placeholder.png"
        alt=""
        srcset=""
        class="img-fluid"
      />
    </div>
  </div>
  <div class="balance">
    <div class="title">Your Balance</div>
    <div class="row box g-2">
      <div class="red-ellipse">
        <img src="../../assets/ellipse-red.png" alt="" srcset="" />
      </div>
      <div class="green-ellipse">
        <img src="../../assets/ellipse (1).png" alt="" srcset="" />
      </div>
      <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="left">
          <div class="sub-title">Balance</div>
          <div class="amount">$12.000</div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="right">
          <div class="top-up">
            <img src="../../assets/Income.png" alt="" srcset="" />
          </div>
          <div class="text">Top Up</div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="right">
          <div class="transfer">
            <img src="../../assets/Profit.png" alt="" srcset="" />
          </div>
          <div class="text">Transfer</div>
        </div>
      </div>
    </div>
  </div>
  <app-address></app-address>
  <app-order-menu></app-order-menu>
  <app-bill></app-bill>
</div>
