<div class="header pb-5">
  <div class="username">Hello, Patricia</div>
  <div class="form-group search">
    <span class="form-control-feedback">
      <mat-icon>search_outlined</mat-icon>
    </span>
    <input
      type="text"
      class="form-control w-100"
      placeholder="What do you want to eat today..."
    />
  </div>
</div>
<div class="discount">
  <div class="text">
    <div class="title">Get Discount Voucher Up To 20%</div>
    <div class="para">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt.
    </div>
  </div>
  <div class="right">
    <img
      src="../../assets/image-of-young-brunette-asian-woman-smiling-and-ho-2021-08-30-02-13-34-utc 1.png"
      alt=""
    />
  </div>
  <div class="ellipse-top">
    <img src="../../assets/ellipse.png" alt="" srcset="" />
  </div>
  <div class="ellipse-left-bottom">
    <img src="../../assets/ellipse.png" alt="" srcset="" />
  </div>
  <div class="ellipse-right-bottom">
    <img src="../../assets/ellipse.png" alt="" srcset="" />
  </div>
</div>
