<div class="categories">
  <div class="heading">
    <h1>Category</h1>
    <a class="view">View all <mat-icon>arrow_forward_ios</mat-icon></a>
  </div>
  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="category">
        <img src="../../assets/Baked.png" alt="" class="img-fluid" />
        <div class="name">Bakery</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="category">
        <img src="../../assets/Burger.png" alt="" class="img-fluid" />
        <div class="name">Burger</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="category">
        <img src="../../assets/Coffee.png" alt="" class="img-fluid" />
        <div class="name">Beverage</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="category">
        <img src="../../assets/Chicken.png" alt="" class="img-fluid" />
        <div class="name">Chicken</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="category">
        <img src="../../assets/Fast.png" alt="" class="img-fluid" />
        <div class="name">Pizza</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="category">
        <img src="../../assets/Fish.png" alt="" class="img-fluid" />
        <div class="name">Seafood</div>
      </div>
    </div>
  </div>
</div>
