<div class="address-section">
  <div class="title">Your Address</div>
  <div class="address">
    <div class="left">
      <img src="../../assets/Location.png" alt="" srcset="" />
      <span class="street">Elim Street, 23</span>
    </div>
    <div class="yellow-btn-outline">
      <button mat-flat-button>Change</button>
    </div>
  </div>
  <div class="para">
    Lorem ipsum dolor sit amet, ectetur adipiscing elit Lorem, ipsum.
  </div>
  <div class="d-xl-flex">
    <div class="gray-btn-outline mb-3 me-xl-3">
      <button mat-flat-button>Add Details</button>
    </div>
    <div class="gray-btn-outline">
      <button mat-flat-button>Add Note</button>
    </div>
  </div>
</div>
