<div class="recent-orders">
  <div class="heading">
    <h1>Recent Orders</h1>
    <a class="view">View all <mat-icon>arrow_forward_ios</mat-icon></a>
  </div>
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-6 col-xl-4 mx-auto">
      <div class="order">
        <mat-card>
          <div class="order-img">
            <div class="fav">
              <mat-icon>favorite</mat-icon>
            </div>
            <img
              mat-card-image
              src="../../assets/pizza-2021-08-26-17-02-26-utc.png"
              alt="Fish burger"
              class="img-fluid"
            />
          </div>
          <mat-card-content class="body">
            <div class="title">Pepperoni Pizza</div>
            <div class="price"><span>$</span>5.59</div>

            <div class="km">
              4.97 km <span class="time"><li>21 min</li></span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-4 mx-auto">
      <div class="order">
        <mat-card>
          <div class="order-img">
            <div class="fav">
              <mat-icon>favorite</mat-icon>
            </div>
            <img
              mat-card-image
              src="../../assets/ramen-asian-noodle-in-broth-with-meat-and-ajitama-2021-10-21-04-01-53-utc 1.png"
              alt="Fish burger"
              class="img-fluid"
            />
          </div>
          <mat-card-content class="body">
            <div class="title">Japan Ramen</div>
            <div class="price"><span>$</span>5.59</div>

            <div class="km">
              4.97 km <span class="time"><li>21 min</li></span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-4 mx-auto">
      <div class="order">
        <mat-card>
          <div class="order-img">
            <div class="fav">
              <mat-icon>favorite</mat-icon>
            </div>
            <img
              mat-card-image
              src="../../assets/plate-of-asian-food-2021-08-26-16-31-39-utc 1.png"
              alt="Fish burger"
              class="img-fluid"
            />
          </div>
          <mat-card-content class="body">
            <div class="title">Fried Rice</div>
            <div class="price"><span>$</span>5.59</div>

            <div class="km">
              4.97 km <span class="time"><li>21 min</li></span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
