<div class="dishes">
  <div class="heading">
    <h1>Popular Dishes</h1>
    <a class="view">View all <mat-icon>arrow_forward_ios</mat-icon></a>
  </div>
  <div class="row g-4">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mx-auto">
      <div class="dish">
        <mat-card>
          <div class="burger-img">
            <div class="fav-offer">
              <div class="offer">15% Off</div>
              <div class="like">
                <mat-icon>favorite</mat-icon>
              </div>
            </div>
            <img
              mat-card-image
              src="../../assets/fresh-tasty-burger-2021-08-29-04-51-34-utc 1.png"
              alt="Fish burger"
              class="img-fluid"
            />
          </div>
          <mat-card-content class="body">
            <div class="left">
              <div class="rating">
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
              </div>
              <div class="title">Fish Burger</div>
              <div class="price"><span>$</span>5.59</div>
            </div>
            <div class="add-btn">
              <button mat-fab>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mx-auto">
      <div class="dish">
        <mat-card>
          <div class="burger-img">
            <div class="fav-offer">
              <div class="offer">15% Off</div>
              <div class="like">
                <mat-icon>favorite</mat-icon>
              </div>
            </div>
            <img
              mat-card-image
              src="../../assets/tasty-burger-with-bacon-2021-08-27-18-32-01-utc 1.png"
              alt="Fish burger"
              class="img-fluid"
            />
          </div>
          <mat-card-content class="body">
            <div class="left">
              <div class="rating">
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
              </div>
              <div class="title">Beef Burger</div>
              <div class="price"><span>$</span>5.59</div>
            </div>
            <div class="add-btn">
              <button mat-fab>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mx-auto">
      <div class="dish">
        <mat-card>
          <div class="burger-img">
            <div class="fav-offer">
              <div class="offer">15% Off</div>
              <div class="like">
                <mat-icon>favorite</mat-icon>
              </div>
            </div>
            <img
              mat-card-image
              src="../../assets/burger-2021-08-26-18-18-28-utc 1.png"
              alt="Fish burger"
              class="img-fluid"
            />
          </div>
          <mat-card-content class="body">
            <div class="left">
              <div class="rating">
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
                <mat-icon>star-rate</mat-icon>
              </div>
              <div class="title">Cheese Burger</div>
              <div class="price"><span>$</span>5.59</div>
            </div>
            <div class="add-btn">
              <button mat-fab>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
