<div class="bill">
  <div class="service">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-8">Service</div>
      <div class="col-6 col-sm-6 col-lg-4 text-end">
        <div class="price">+ <span>$</span>1.00</div>
      </div>
    </div>
  </div>
  <div class="total">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-8">Total</div>
      <div class="col-6 col-sm-6 col-lg-4 text-end">
        <div class="price"><span>$</span>202.00</div>
      </div>
    </div>
  </div>
  <div class="coupon">
    <div class="coupon-img">
      <img src="../../../assets/Coupon.png" alt="" />
    </div>
    <div class="text">Have a coupon code?</div>
    <mat-icon>keyboard_arrow_right_outlined</mat-icon>
  </div>
  <div class="checkout">
    <button mat-flat-button color="primary">Checkout</button>
  </div>
</div>
